<?php

namespace {namespace};

use Simplon\Core\Utils\Routing\Routes;

/**
 * @package {namespace}
 */
class {name}Routes extends Routes
{
    const PATTERN_FOO = '/rest/bar';

    /**
     * @return string
     */
    public static function toBar(): string
    {
        return self::toString(
            self::render(self::PATTERN_FOO)
        );
    }
}