<?php

namespace {namespace};

use App\AppContext;
use {namespace}\Controllers\{name}ViewController;
use Simplon\Core\Components\Registry;
use Simplon\Core\Utils\Routing\RoutesCollection;

/**
 * @package {namespace}
 */
class {name}Registry extends Registry
{
    /**
     * @var AppContext
     */
    private $appContext;

    /**
     * @param AppContext $appContext
     */
    public function __construct(AppContext $appContext)
    {
        $this->appContext = $appContext;
    }

    /**
     * @return {name}Context
     */
    public function getContext(): {name}Context
    {
        return new {name}Context($this->appContext);
    }

    /**
     * @return null|RoutesCollection
     */
    public function getRoutes(): ?RoutesCollection
    {
        return $this->buildRoutesCollection()->addRoute(
            $this->buildRoute({name}Routes::PATTERN_FOO, {name}ViewController::class)
        );
    }
}