<?php

namespace {namespace};

use Simplon\Core\Utils\Routing\Routes;
use Simplon\Url\Url;

class {name}Routes extends Routes
{
    const PATTERN_FOO = '/view/bar';

    /**
     * @return Url
     */
    public static function toBar(): Url
    {
        return self::render(self::PATTERN_FOO);
    }
}