<?php

namespace {namespace}\Controllers;

use {namespace}\Views\{view}\{view}View;
use Simplon\Core\Data\ResponseViewData;

class {view}ViewController extends BaseViewController
{
    /**
     * @param array $params
     *
     * @return ResponseViewData
     */
    public function __invoke(array $params): ResponseViewData
    {
        return $this->respond(
            $this->buildPage(
                new {view}View($this->getCoreViewData()),
                $this->getComponentViewData(),
                $this->getGlobalViewData()
            )
        );
    }
}