<?php
/**
 * @var Locale $locale
 * @var FlashMessage $flash
 * @var Device $device
 */
use Simplon\Core\Views\FlashMessage;
use Simplon\Device\Device;
use Simplon\Locale\Locale;

?>
<h1>{view} view</h1>