<?php

namespace App;

use Simplon\Core\CoreContext;

class AppContext extends CoreContext
{
    const GLOBAL_NAMESPACE = '{name}';

    /**
     * @return string
     */
    protected function getCookieStorageNameSpace(): string
    {
        return self::GLOBAL_NAMESPACE;
    }
}