<?php

//
// enforce typed
//

declare(strict_types=1);

use App\AppContext;
use Simplon\Core\Core;
use Simplon\Core\CoreContext;
use Simplon\Core\Middleware\ExceptionMiddleware;
use Simplon\Core\Middleware\RouteMiddleware;
use Simplon\Core\Storage\SessionHandler\SessionRedis;
use Whoops\Handler\JsonResponseHandler;

require __DIR__ . '/../vendor/simplon/core/src/autoload.php';

//
// instantiate AppContext
//

$appContext = new AppContext();

//
// components queue
//

$components = [];

//
// middleware queue
//

$middleware = [
    new ExceptionMiddleware(new JsonResponseHandler()),
    new RouteMiddleware($components),
];

//
// run core with app data
//

(new Core())->run($middleware);