<?php

namespace {namespace}\Views\{view};

use Simplon\Core\Views\View;

/**
 * @package {namespace}\Views\{view}
 */
class {view}View extends View
{
    /**
     * @return string
     */
    protected function getTemplate(): string
    {
        return __DIR__ . '/{view}Template.phtml';
    }

    /**
     * @return array
     */
    protected function getData(): array
    {
        return [];
    }
}